* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

h2 {
    margin-top: 0.5rem;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 4px solid black;
    margin: 2.5rem;
    cursor: pointer;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d95980;
}

.purple {
    background-color: #819ff9;
}

.green {
    background-color: #63aac0;
}

.gameflash {
    background-color: white;
}

.userflash {
    background-color: greenyellow;
}